$primary-color: #1f2739;
//$primary-pair: $primary-color;
$secondary-color: $primary-color;
//$secondary-pair: $primary-color;
$base-pair: $primary-color;
$base-colour: $primary-color;
$navbar-variant-background: rgba(0, 0, 0, 0);
$navbar-variant-color: $primary-color;
@import 'bearbones/scss/bearbones';
article {
	padding: 5em;
}
.text-center {
	text-align: center;
}
.logo {
	path: {
		fill: $primary-color;
	}
}
.promo {
	color: $secondary-pair;
}
.content-block .reverse {
	.bb-grid {
		flex-direction: row-reverse;
	}
}
