$primary-color: #1f2739;
$primary-pair: $primary-color;
$secondary-color: $primary-color;
$secondary-pair: $primary-color;
$base-pair: $primary-color;
$base-colour: $primary-color;
$navbar-variant-background: rgba(0, 0, 0, 0);
$navbar-variant-color: $primary-color;
@import 'bearbones/scss/bearbones';
.text-center {
	text-align: center;
}
.logo {
	path: {
		fill: $primary-color;
	}
}
